@using Entities
@using Shared
@{
    ViewData["Title"] = "company name";
    DataResponse<Funcionario> dataResponse = ViewBag.Funcionarios;
}
<script>

</script>
<html>
<head>
    <meta name="description" content="Uma empresa legal de se trabalhar!" />
    <title>Nossa Empresa</title>
</head>
<body>
    <section>
       <div>

       </div>
    </section>
    <section>

    </section>
</body>
</html>

