@using VisualLayer.Models.Funcionario
@{
    ViewData["Title"] = "Nossa Empresa";
    FuncionarioSelectViewModel funcionario = ViewBag.Funcionario;
}
<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Nossa Empresa </title>
    <link rel="stylesheet" href="~/css/Home/Index.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <nav>
        <div class="navbar">
            <div class="logo"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Nossa Empresa</a></div>
            <ul class="menu">
               <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Membros">Membros</a>
                </li>
                <li class="nav-item">
                    @Html.Partial("_LoginPartial",funcionario)
                </li>
                <div class="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
            </ul>
            <div class="nav-item">
                @*<a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>*@
            </div>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>
<body>
    <!-- Move to up button -->
    <div class="scroll-button">
        <a href="#home"><i class="fas fa-arrow-up"></i></a>
    </div>
    
    <!-- Home Section Start -->
    <section class="home" id="home">
        <div class="home-content">
            <div class="text">
                <div class="text-one">Olá,</div>
                <div class="text-two">Somos a Nossa Empresa</div>
                <div class="text-three">Desenvolvimento C#</div>
                <!-- <div class="text-four">From Nepal</div> -->
            </div>
            <!--<div class="button">
              <button>Hire Me</button>
            </div>-->
        </div>
    </section>

    <!-- About Section Start -->
    <section class="about" id="about">
        <div class="content">
            <div class="title"><span>Sobre nós</span></div>
            <div class="about-details">
                <div class="left">
                    <img src="~/Images/pexels-roman-odintsov-4925863.jpg" alt="">
                </div>
                <div class="right">
                    <div class="topic">Desenvolvimento é nossa paixão</div>
                    <p>Nós desenvolvemos por paixão</p>
                    <!-- <div class="button">
                       <button>Membros</button>
                     </div>-->
                </div>
            </div>
        </div>
    </section>

    <!-- My Skill Section Start -->
    <!-- Section Tag and Other Div will same where we need to put same CSS -->
    <section class="skills" id="skills">
        <div class="content">
            <div class="title"><span>Nossas Skills</span></div>
            <div class="skills-details">
                <div class="text">
                    <div class="topic">Skills Reflects Our Knowledge</div>
                    <p>Programamos em C# e conhecemos os frameworks MVC, Entity Framework, ADO.NET, FluentValidation. </p>
                    <div class="experience">
                        <div class="num">6</div>
                        <div class="exp">Meses de <br> Experiencia</div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <div class="topic">C#</div>
                        <div class="per">85%</div>
                    </div>
                    <div class="box">
                        <div class="topic">HTML</div>
                        <div class="per">5%</div>
                    </div>
                    <div class="box">
                        <div class="topic">CSS</div>
                        <div class="per">5%</div>
                    </div>
                    <div class="box">
                        <div class="topic">JavScript</div>
                        <div class="per">5%</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My Services Section Start -->
    <!--
     <section class="services" id="services">
       <div class="content">
         <div class="title"><span>Nossos Serviços</span></div>
         <div class="boxes">
           <div class="box">
             <div class="icon">
               <i class="fas fa-desktop"></i>
           </div>
           <div class="topic">Web Devlopment</div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
         </div>
           <div class="box">
             <div class="icon">
               <i class="fas fa-paint-brush"></i>
           </div>
           <div class="topic">Graphic Design</div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
         </div>
           <div class="box">
             <div class="icon">
               <i class="fas fa-chart-line"></i>
           </div>
           <div class="topic">Digital Marketing</div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
         </div>
           <div class="box">
             <div class="icon">
               <i class="fab fa-android"></i>
           </div>
           <div class="topic">Icon Design</div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
         </div>
           <div class="box">
             <div class="icon">
               <i class="fas fa-camera-retro"></i>
           </div>
           <div class="topic">Photography</div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
         </div>
           <div class="box">
             <div class="icon">
               <i class="fas fa-tablet-alt"></i>
           </div>
           <div class="topic">Apps Devlopment</div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
         </div>
       </div>
       </div>
     </section>
     -->
    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
        <div class="content">
            <div class="title"><span>Nos Contate</span></div>
            <div class="text">
                <div class="topic">Esta interessado em um de nós?</div>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque ipsum corrupti dolores, facere numquam voluptate aspernatur sit perferendis qui nisi modi! Recusandae deserunt consequatur voluptatibus alias repellendus nobis eligendi.</p>-->
                <div class="button" >
                    <button asp-area="" asp-controller="Home" asp-action="Login">Membros</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Start -->
    <footer>
        <div class="text">
            <span>Created By <a asp-area="" asp-controller="Home" asp-action="Index">Nossa Empresa</a> | &#169; 2022 All Rights Reserved</span>
        </div>
    </footer>
    <script src="~/js/Home/Index.js"></script>
</body>
</html>


