@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" id="valor1" size="20" /><br>
    <input type="text" id="valor2" size="20" /><br>
    <button1 type="submit" onclick="Clicar()">Clicar</button1>


</div>
