 @{
    ViewData["Title"] = "Login";
}  
@model VisualLayer.Models.LoginModel

<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="~/css/Login.css">
         
    <!--<title>Login & Registration Form</title>-->
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form asp-action="Login">
                    <div class="input-field">
                        <div class="form-group">
                        <input asp-for="Email" id="Email" class="form-control" placeholder="Enter your email" required/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                     </div>
                        @*<input type="text" placeholder="Enter your email" required>*@
                        <i class="uil uil-envelope icon"></i>

                    </div>
                    <div class="input-field">
                         <div class="form-group">
                        <input asp-for="Senha" type="password" id="password" class="form-control" placeholder="Enter your password" required/>
                        <span asp-validation-for="Senha"  class="text-danger"></span>
                          </div>
                          
                        @*<input type="password" class="password" placeholder="Enter your password" required>*@
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <div class="form-group">
                                <input type="checkbox" asp-for="IsRemebered"/>
                          </div>
                            @*<input type="checkbox" id="logCheck">*@
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                       <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

   <script src="~/js/Login.js"></script>
</body>
</html>