@{
    ViewData["Title"] = "Membros";
}
    <head>
          <link rel="stylesheet" href="~/css/Membros.css">
    </head>
<body class="Membros">
        <div class="container">
            <div class="cabecalho">
                <div class="perfil">
                    <a href="https://www.linkedin.com/in/erick-baptista-pereira-6902a1245/" target="_blank">
                        <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C4D03AQHIyBMrDYAOLA/profile-displayphoto-shrink_200_200/0/1657674604988?e=1665014400&v=beta&t=sXsfhmX4OGNbjKxOkm1pPQzMjgq1YIPdS9YPTEbN3bE" />
                    </a>
                    <div class="titulo">
                        <h1>Erick Baptista Pereira</h1>
                        <h3>Desenvolvedor C#</h3>
                    </div>
                </div>
            </div>
            <div class="cabecalho">
                <div class="perfil">
                    <a href="https://www.linkedin.com/in/douglas-pereira-a98026177/" target="_blank">
                        <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C4D03AQFlvuWht-_a0A/profile-displayphoto-shrink_200_200/0/1659181552086?e=1665014400&v=beta&t=Pz-0p8pgrNAyJpwOxjgTb2oHfofrS-hLn5AVCz6a1lk" />
                    </a>
                    <div class="titulo">
                        <h1>Douglas Pereira</h1>
                        <h3>Desenvolvedor C#</h3>
                    </div>
                </div>
            </div>
            <div class="cabecalho">
                <div class="perfil">
                    <a href="https://www.linkedin.com/in/marlonfernandodeoliveira/" target="_blank">
                        <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C5603AQHB5uVWjOZyGw/profile-displayphoto-shrink_200_200/0/1616605851896?e=1665014400&v=beta&t=cnHHkuu9PfjHqH6y40OCuojlUHb-yg4ehMtT3B5irG8" />
                    </a>
                    <div class="titulo">
                        <h1>Marlon Fernando de Oliveira</h1>
                        <h3>Desenvolvedor C# e Psicólogo</h3>
                    </div>
                </div>
            </div>
        </div>
    
    <script src="~/js/Membros.js"></script>
</body>
