@{
    ViewData["Title"] = "Membros";
}
<head>
    <title> Membros </title>
    <link rel="stylesheet" href="~/css/Home/Membros.css">
</head>
  <header>
              <nav>
            <div class="navbar">
                <div class="logo"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Nossa Empresa</a></div>
                <ul class="menu">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Membros">Membros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    </li>
                    <div class="cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                </ul>
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
  </header>
<body class="Membros">
    <div class="container">
        <div class="cabecalho">
            <div class="perfil">
                <a href="https://www.linkedin.com/in/erick-baptista-pereira-6902a1245/" target="_blank">
                    <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C4D03AQHIyBMrDYAOLA/profile-displayphoto-shrink_200_200/0/1657674604988?e=1665014400&v=beta&t=sXsfhmX4OGNbjKxOkm1pPQzMjgq1YIPdS9YPTEbN3bE" />
                </a>
                <div class="titulo">
                    <h1>Erick Baptista Pereira</h1>
                    <h3>Desenvolvedor C#</h3>
                </div>
            </div>
        </div>
        <div class="cabecalho">
            <div class="perfil">
                <a href="https://www.linkedin.com/in/douglas-pereira-a98026177/" target="_blank">
                    <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C4D03AQFlvuWht-_a0A/profile-displayphoto-shrink_200_200/0/1659181552086?e=1665014400&v=beta&t=Pz-0p8pgrNAyJpwOxjgTb2oHfofrS-hLn5AVCz6a1lk" />
                </a>
                <div class="titulo">
                    <h1>Douglas Pereira</h1>
                    <h3>Desenvolvedor C#</h3>
                </div>
            </div>
        </div>
        <div class="cabecalho">
            <div class="perfil">
                <a href="https://www.linkedin.com/in/marlonfernandodeoliveira/" target="_blank">
                    <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C5603AQHB5uVWjOZyGw/profile-displayphoto-shrink_200_200/0/1616605851896?e=1665014400&v=beta&t=cnHHkuu9PfjHqH6y40OCuojlUHb-yg4ehMtT3B5irG8" />
                </a>
                <div class="titulo">
                    <h1>Marlon Fernando de Oliveira</h1>
                    <h3>Desenvolvedor C# e Psicólogo</h3>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Home/Membros.js"></script>
</body>
<footer>
    <div class="text">
        <span>Created By <a asp-area="" asp-controller="Home" asp-action="Index">Nossa Empresa</a> | &#169; 2022 All Rights Reserved</span>
    </div>
</footer>