@using VisualLayer.Models.Funcionario
@{
    ViewData["Title"] = "Membros";    
    FuncionarioSelectViewModel funcionario = ViewBag.Funcionario;
}
<head>
    <title> Membros </title>
    <link rel="stylesheet" href="~/css/Home/Membros.css">
</head>
  <header>
              <nav>
            <div class="navbar">
                <div class="logo"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Nossa Empresa</a></div>
                <ul class="menu">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Membros">Membros</a>
                    </li>
                    <li class="nav-item">
                    @Html.Partial("_LoginPartial",funcionario)
                        
                    </li>
                    <div class="cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                </ul>
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
  </header>
<body class="Membros">
    <div class="container">
        <div class="cabecalho">
            <div class="perfil">
                <a href="https://www.linkedin.com/in/erick-baptista-pereira-6902a1245/" target="_blank">
                    <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C4D03AQHIyBMrDYAOLA/profile-displayphoto-shrink_200_200/0/1657674604988?e=1671667200&v=beta&t=E00_ShKjozpA-p4lhvOg6UmI0Iohjih8PjNU6KaZWxE" />
                </a>
                <div class="titulo">
                    <h1>Erick Baptista Pereira</h1>
                    <h3>Desenvolvedor C#</h3>
                </div>
            </div>
        </div>
        <div class="cabecalho">
            <div class="perfil">
                <a href="https://www.linkedin.com/in/douglas-pereira-a98026177/" target="_blank">
                    <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C4D03AQFlvuWht-_a0A/profile-displayphoto-shrink_200_200/0/1659181552086?e=1671667200&v=beta&t=eZwi8f_9pZKTJQGpXHqICsaL76Fy40JhLa2oUYclHkg" />
                </a>
                <div class="titulo">
                    <h1>Douglas Pereira</h1>
                    <h3>Desenvolvedor C#</h3>
                </div>
            </div>
        </div>
        <div class="cabecalho">
            <div class="perfil">
                <a href="https://www.linkedin.com/in/marlonfernandodeoliveira/" target="_blank">
                    <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C5603AQHB5uVWjOZyGw/profile-displayphoto-shrink_200_200/0/1616605851896?e=1671667200&v=beta&t=ibwA-66H3iN5-6ksu9xp3bqXnipic2nCS8iqvZHZvjE" />
                </a>
                <div class="titulo">
                    <h1>Marlon Fernando de Oliveira</h1>
                    <h3>Desenvolvedor C# e Psicólogo</h3>
                </div>
            </div>
        </div>
         <div class="cabecalho">
            <div class="perfil">
                <a href="https://www.linkedin.com/in/otavio-tomio-253166227/" target="_blank">
                    <img class="perfil-foto" src="https://media-exp1.licdn.com/dms/image/C4E03AQGaPsUaMPblnw/profile-displayphoto-shrink_200_200/0/1638274145152?e=1671667200&v=beta&t=-phCKr6c1hoeRHNi6KXMmBN7EYqyJfsOMKVSQ5Nq0dY" />
                </a>
                <div class="titulo">
                    <h1>Otavio Tomio</h1>
                    <h3>Desenvolvedor C#</h3>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Home/Membros.js"></script>
</body>
<footer>
    <div class="text">
        <span>Created By <a asp-area="" asp-controller="Home" asp-action="Index">Nossa Empresa</a> | &#169; 2022 All Rights Reserved</span>
    </div>
</footer>