/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100%;
    background: #e3f2fd;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

    nav .logo {
        display: flex;
        align-items: center;
        margin: 0 24px;
    }

.logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}

.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.home-section {
    margin-top: 25px;
}

.lists .nav-link:hover {
    background-color: #2C2928;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    z-index: -1;
}

    .flex .contains {
        margin: 5px;
        position: relative;
        width: 100%;
    }

.contains .box-contains {
    display: flex;
    margin-top: 80px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}

.contains {
    z-index: -1;
}

.box-contains .box {
    flex: 1 1 350px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.contains a {
    z-index: +1;
}

.contains p {
    z-index: +1;
}

.box h1 {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}

.box p {
    text-align: center;
    color: #333;
}

.box a {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}

    .box a:hover {
        background-color: #e3f2fd;
        border-radius: 6px;
        padding: 5px;
    }

.rTable {
    width: 100%;
    text-align: center;
}

    .rTable thead {
        background: black;
        font-weight: bold;
        color: #fff;
    }

    .rTable tbody tr:nth-child(2n) {
        background: #ccc;
    }

    .rTable th, .rTable td {
        padding: 7px 0;
    }

@media screen and (max-width: 480px) {
    .content {
        width: 94%;
    }

    .contains {
        width: 94%;
    }

    .rTable thead {
        display: none;
    }

    .rTable tbody td {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        width: 100%;
    }

    .contains {
        width: 94%;
    }

    .rTable tbody tr td:nth-child(1) {
        width: 15%;
    }

    .rTable tbody tr td:nth-child(2) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(3) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(4) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(5) {
        width: 5%;
    }

    .rTable tbody tr td:nth-child(6) {
        width: 5%;
    }
}