.tableOut {
    border: 4px;
    border-radius: 10px;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-horizontal {
    list-style: none;
}

    #menu-horizontal li {
        display: flex;
        background-color: #009879;
        padding: 0px;
        position: sticky;
        align-items: center;
        justify-content: center;
        top: 0px;
        cursor: pointer;
    }

        #menu-horizontal li a {
            color: #ffffff;
            padding: 30px;
            display: flex;
            text-decoration: none;
        }

            #menu-horizontal li a:hover {
                color: #000000;
            }

#titulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 40%;
}

#subtitulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 39%;
}

#check {
    display: inline-block;
}

body {
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 1%;
    align-items: left;
    margin-top: 2%;
    justify-content: center;
}

/* Elemento de classe "botao" */
.botao {
    display: inline-flex;
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%)
}

    /* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
    .botao:hover {
        background: #CCBBFF;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: none;
    }

/* Elementos de classe botão e de tag <select> */
.botao, select {
    cursor: pointer;
}