
            @RenderBody()
@*        </main>
    </div>*@

@*    <footer>
        <div class="text">
            <span>Created By <a asp-area="" asp-controller="Home" asp-action="Index">Nossa Empresa</a> | &#169; 2022 All Rights Reserved</span>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Index.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
@*</body>
</html>*@
