@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@using VisualLayer.Models.Funcionario
@{
    FuncionarioSelectViewModel funcionario = Model;
}
@if (funcionario != null)
{
        @Html.AntiForgeryToken()
        <li class="nav-item">
            @Html.ActionLink("Hello " + funcionario.Nome + "!", "Logarr", "Home")
        </li>
        <li class="nav-item">
        @Html.ActionLink("Log off", "LogOff", "Home")
        </li>
}
else
{
        <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
}