/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.lateral {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

    .lateral.btn-nome-emp {
        width: 60px;
    }

    .lateral .logo-detalhes {
        height: 80px;
        display: flex;
        align-items: center;
    }

        .lateral .logo-detalhes i {
            font-size: 28px;
            font-weight: 500;
            color: #fff;
            min-width: 60px;
            text-align: center
        }

        .lateral .logo-detalhes .logo_name {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
        }

    .lateral .nav-links {
        margin-top: 10px;
    }

        .lateral .nav-links li {
            position: relative;
            list-style: none;
            height: ;50px
        }

            .lateral .nav-links li a {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: all 0.4s ease;
            }

                .lateral .nav-links li a.active {
                    background: #081D45;
                }

                .lateral .nav-links li a:hover {
                    background: #081D45;
                }

            .lateral .nav-links li i {
                min-width: 60px;
                text-align: center;
                font-size: 18px;
                color: #fff;
            }

            .lateral .nav-links li a .links_name {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                white-space: nowrap;
            }

        .lateral .nav-links .sair {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

.corpo-topo {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.lateral.active ~ .corpo-topo {
    width: calc(100% - 60px);
    left: 60px;
}

.corpo-topo nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.lateral.active ~ .corpo-topo nav {
    left: 60px;
    width: calc(100% - 60px);
}

.corpo-topo nav .lateral-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .lateral-button i {
    font-size: 35px;
    margin-right: 10px;
}

.corpo-topo nav .caixa-procura {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .caixa-procura input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .caixa-procura .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

.corpo-topo nav .perfil-detalhes {
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

nav .perfil-detalhes img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .perfil-detalhes .nome-adm {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .perfil-detalhes i {
    font-size: 25px;
    color: #333;
}

.corpo-topo .corpo {
    position: relative;
    padding-top: 104px;
    width: 75%;
}

.corpo .box-geral {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px;
    margin: 5% 0;
    height: 650px;
}

.box-geral .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(75% / 2);
    background: #FFF;
    padding: 10px;
    margin: 10px;
    height:250px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.box .name-box {
    font-size: 25px;
    font-weight: 500;
}

.corpo-topo .box .numero {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}

.corpo-topo .box .indicador {
    display: flex;
    align-items: center;
}

    .corpo-topo .box .indicador i {
        height: 20px;
        width: 20px;
        background: #124EAB;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
        margin-right: 5px;
    }
        .corpo-topo .box .indicador i .text {
            font-size: 12px;
        }


.corpo-lateral {
    position: relative;
    padding-top: 104px;
}
    .corpo-lateral .box-geral-lateral {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 20px;
        margin-bottom: 26px;
        height: 1050px;
    }
    .box-geral-lateral .box-lateral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(85% / 2);
    background: #FFF;
    padding: 10px;
    margin: 10px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

.avisos{
    display:flex;
}