@{
    ViewData["Title"] = "Home Page";
}


<div class="conteudo">
    <div class="top">
        <h1>Canal Dev Net Core</h1>
    </div>

    <div class="grafico">
        <div class="gridColuna" id="gridColuna">
            @*<div class="coluna">
                <div class="tituloColuna">Meu Titulo</div>
                <div class="colunaPorcentagem">
                    <div class="porcentagem"></div>
                </div>
                <div class="bolinha">
                    <span class="porcentagemTitulo">90%</span>
                </div>
            </div>*@
        </div>
    </div>

    <div class="rodape">

    </div>

</div>


<link href="~/css/grafico.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/grafico.js"></script>
