@{

}
<!doctype html>
<html>

<head>
    <!-- Metadados -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/Funcionario/SF-36.css" media="screen">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Título da página (aparece na aba) -->
    <title>Questionário</title>
</head>

<body>
    <!-- Cabeçalho com título e subtítulo (ambos com css de id "titulo") -->
    <div>
        <h1 id="titulo">Questionário SF-36</h1>
        <p id="subtitulo">Questionário de Saúde e Qualidade de vida</p>
        <br>
    </div>

    <!-- Início do formulário -->
    <form method="post" action="/Funcionario/SF36" style="padding: 10px; border:5px; border-radius: 10px;">
        <div class="tableOut">
        <div class="form-label" style=" width: 100%; align-items: center;">
            <label><strong>1- Em geral você diria que sua saúde é: </strong></label>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark" style="border-radius: 5px;">
                <tr align="center">
                    <th height="30">Excelente</th>
                    <th height="30">Muito Boa</th>
                    <th height="30">Boa</th>
                    <th height="30">Ruim</th>
                    <th height="30">Muito Ruim</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td height="30"><input type="radio" name="question1" value="1">1</td>
                    <td height="30"><input type="radio" name="question1" value="2">2</td>
                    <td height="30"><input type="radio" name="question1" value="3">3</td>
                    <td height="30"><input type="radio" name="question1" value="4">4</td>
                    <td height="30"><input type="radio" name="question1" value="5">5</td>
                </tr>
            </tbody>
        </table>
        &nbsp;
        <div class="form-label">
            <label align="left"><strong>2. Comparada há um ano atrás, como você classificaria sua saúde em geral, agora? </strong></label>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th height="30">Muito Melhor</th>
                    <th height="30">Um Pouco Melhor</th>
                    <th height="30">Quase a Mesma</th>
                    <th height="30">Um Pouco Pior</th>
                    <th height="30">Muito Pior</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td height="30"><input type="radio" name="question2" value="1">1</td>
                    <td height="30"><input type="radio" name="question2" value="2">2</td>
                    <td height="30"><input type="radio" name="question2" value="3">3</td>
                    <td height="30"><input type="radio" name="question2" value="4">4</td>
                    <td height="30"><input type="radio" name="question2" value="5">5</td>
                </tr>
            </tbody>
        </table>
        &nbsp;
        <div class="form-label">
            <label align="left">
                <strong>
                    3- Os seguintes itens são sobre atividade que você poderia fazer atualmente durante um dia comum. Devido à
                    sua saúde, você teria dificuldade para fazer estas atividades?
                </strong>
            </label>
        </div>
        &nbsp;
        <div class="table">
            <table class="table">
                <thead class="table-dark">
                    <tr align="center">
                        <th>Atividades</th>
                        <th>Sim, dificulta muito</th>
                        <th>Sim, dificulta um pouco</th>
                        <th>Não, não dificulta de modo algum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
                        <td align="justify">
                            a) Atividades Rigorosas, que exigem muito esforço correr,levantar objetos pesados, participar em esportes árduos.
                        </td>
                        <td><input type="radio" name="question3a" value="1">1</td>
                        <td><input type="radio" name="question3a" value="2">2</td>
                        <td><input type="radio" name="question3a" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            b) Atividades moderadas, tais como mover uma mesa, passar aspirador de pó, jogar bola varrer a casa.
                        </td>
                        <td><input type="radio" name="question3b" value="1">1</td>
                        <td><input type="radio" name="question3b" value="2">2</td>
                        <td><input type="radio" name="question3b" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            c) Levantar ou carregar mantimentos
                        </td>
                        <td><input type="radio" name="question3c" value="1">1</td>
                        <td><input type="radio" name="question3c" value="2">2</td>
                        <td><input type="radio" name="question3c" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            d) Subir vários lances de escada
                        </td>
                        <td><input type="radio" name="question3d" value="1">1</td>
                        <td><input type="radio" name="question3d" value="2">2</td>
                        <td><input type="radio" name="question3d" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            e) Subir um lance de escada
                        </td>
                        <td><input type="radio" name="question3e" value="1">1</td>
                        <td><input type="radio" name="question3e" value="2">2</td>
                        <td><input type="radio" name="question3e" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            f) Curvar-se, ajoelhar-se ou dobrarse
                        </td>
                        <td><input type="radio" name="question3f" value="1">1</td>
                        <td><input type="radio" name="question3f" value="2">2</td>
                        <td><input type="radio" name="question3f" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            g) Andar mais de 1 quilômetro
                        </td>
                        <td><input type="radio" name="question3g" value="1">1</td>
                        <td><input type="radio" name="question3g" value="2">2</td>
                        <td><input type="radio" name="question3g" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            h) Andar vários quarteirões
                        </td>
                        <td><input type="radio" name="question3h" value="1">1</td>
                        <td><input type="radio" name="question3h" value="2">2</td>
                        <td><input type="radio" name="question3h" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            i) Andar um quarteirão
                        </td>
                        <td><input type="radio" name="question3i" value="1">1</td>
                        <td><input type="radio" name="question3i" value="2">2</td>
                        <td><input type="radio" name="question3i" value="3">3</td>
                    </tr>
                    <tr align="center">
                        <td align="justify">
                            j) Tomar banho ou vestir-se
                        </td>
                        <td><input type="radio" name="question3j" value="1">1</td>
                        <td><input type="radio" name="question3j" value="2">2</td>
                        <td><input type="radio" name="question3j" value="3">3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        &nbsp;
        <div class="form-label">
            <strong> <label align="left">4- Durante as últimas 4 semanas, você teve algum dos seguintes problemas com seu trabalho ou com alguma atividade regular, como conseqüência de sua saúde física?</label></strong>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th>&nbsp;</th>
                    <th>Sim</th>
                    <th>Não</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td align="justify">
                        a) Você diminui a quantidade de tempo que se dedicava ao seu trabalho ou a outras atividades?
                    </td>
                    <td><input type="radio" name="question4a" value="1">1</td>
                    <td><input type="radio" name="question4a" value="2">2</td>
                </tr>
                <tr align="center">
                    <td align="justify">b) Realizou menos tarefas do que você gostaria?</td>
                    <td><input type="radio" name="question4b" value="1">1</td>
                    <td><input type="radio" name="question4b" value="2">2</td>

                </tr>
                <tr align="center">
                    <td align="justify"> c) Esteve limitado no seu tipo de trabalho ou a outras atividades.</td>
                    <td><input type="radio" name="question4c" value="1">1</td>
                    <td><input type="radio" name="question4c" value="2">2</td>

                </tr>
                <tr align="center">
                    <td align="justify"> d) Teve dificuldade de fazer seu trabalho ou outras atividades (p.ex. necessitou de um esforço extra).</td>
                    <td><input type="radio" name="question4d" value="1">1</td>
                    <td><input type="radio" name="question4d" value="2">2</td>
                </tr>
            </tbody>
        </table>
        <div class="form-label">
            <strong> <label>5- Durante as últimas 4 semanas, você teve algum dos seguintes problemas com seu trabalho ou outra atividade regular diária, como conseqüência de algum problema emocional (como se sentir deprimido ou ansioso)?</label></strong>
        </div>
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th>&nbsp;</th>
                    <th>Sim</th>
                    <th>Não</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td align="justify">
                        a) Você diminui a quantidade de tempo que se dedicava ao seu trabalho ou a outras atividades?
                    </td>
                    <td><input type="radio" name="question5a" value="1">1</td>
                    <td><input type="radio" name="question5a" value="2">2</td>
                </tr>
                <tr align="center">
                    <td align="justify">b) Realizou menos tarefas do que você gostaria? </td>
                    <td><input type="radio" name="question5b" value="1">1</td>
                    <td><input type="radio" name="question5b" value="2">2</td>

                </tr>
                <tr align="center">
                    <td align="justify">
                        c) Não realizou ou fez qualquer das atividades com tanto cuidado como geralmente faz
                    </td>
                    <td><input type="radio" name="question5c" value="1">1</td>
                    <td><input type="radio" name="question5c" value="2">2</td>

                </tr>
            </tbody>
        </table>
        &nbsp;
        <div class="form-label">
            <strong> <label>6- Durante as últimas 4 semanas, de que maneira sua saúde física ou problemas emocionais interferiram nas suas atividades sociais normais, em relação à família, amigos ou em grupo?</label></strong>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th>De forma nenhuma</th>
                    <th>Ligeiramente</th>
                    <th>Moderadamente</th>
                    <th>Bastante</th>
                    <th>Extremamente</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td><input type="radio" name="question6" value="1">1</td>
                    <td><input type="radio" name="question6" value="2">2</td>
                    <td><input type="radio" name="question6" value="3">3</td>
                    <td><input type="radio" name="question6" value="4">4</td>
                    <td><input type="radio" name="question6" value="5">5</td>
                </tr>
            </tbody>
        </table>
        &nbsp;
        <div class="form-label">
            <label align="left"><strong>7- Quanta dor no corpo você teve durante as últimas 4 semanas?</strong></label>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th>Nenhuma</th>
                    <th>Muito leve</th>
                    <th>Leve</th>
                    <th>Moderada</th>
                    <th>Grave</th>
                    <th>Muito grave</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td><input type="radio" name="question7" value="1">1</td>
                    <td><input type="radio" name="question7" value="2">2</td>
                    <td><input type="radio" name="question7" value="3">3</td>
                    <td><input type="radio" name="question7" value="4">4</td>
                    <td><input type="radio" name="question7" value="5">5</td>
                    <td><input type="radio" name="question7" value="6">6</td>
                </tr>
            </tbody>
        </table>
        &nbsp;
        <div class="form-label">
            <strong> <label>8- Durante as últimas 4 semanas, quanto a dor interferiu com seu trabalho normal (incluindo o trabalho dentro de casa)?</label></strong>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th>De maneira alguma</th>
                    <th>Um pouco</th>
                    <th>Moderadamente</th>
                    <th>Bastante</th>
                    <th>Extremamente</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td><input type="radio" name="question8" value="1">1</td>
                    <td><input type="radio" name="question8" value="2">2</td>
                    <td><input type="radio" name="question8" value="3">3</td>
                    <td><input type="radio" name="question8" value="4">4</td>
                    <td><input type="radio" name="question8" value="5">5</td>
                </tr>
            </tbody>
        </table>
        &nbsp;
        <div class="form-label">
            <strong><label>9- Estas questões são sobre como você se sente e como tudo tem acontecido com você durante as últimas 4 semanas. Para cada questão, por favor dê uma resposta que mais se aproxime de maneira como você se sente, em relação às últimas semanas.</label></strong>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th>&nbsp;</th>
                    <th>Todo Tempo</th>
                    <th>A maior parte do Tempo</th>
                    <th>Uma boa parte do tempo</th>
                    <th>Alguma parte do tempo</th>
                    <th>Uma pequena parte do tempo</th>
                    <th>Nunca</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td align="justify">
                        a) Quanto tempo você tem se sentindo cheio de vigor, de vontade, de força?
                    </td>
                    <td><input type="radio" name="question9a" value="1">1</td>
                    <td><input type="radio" name="question9a" value="2">2</td>
                    <td><input type="radio" name="question9a" value="3">3</td>
                    <td><input type="radio" name="question9a" value="4">4</td>
                    <td><input type="radio" name="question9a" value="5">5</td>
                    <td><input type="radio" name="question9a" value="6">6</td>
                </tr>
                <tr align="center">
                    <td align="justify">
                        b) Quanto tempo você tem se sentido uma pessoa muito nervosa?
                    </td>
                    <td><input type="radio" name="question9b" value="1">1</td>
                    <td><input type="radio" name="question9b" value="2">2</td>
                    <td><input type="radio" name="question9b" value="3">3</td>
                    <td><input type="radio" name="question9b" value="4">4</td>
                    <td><input type="radio" name="question9b" value="5">5</td>
                    <td><input type="radio" name="question9b" value="6">6</td>
                </tr>
                <tr align="center">
                    <td align="justify">
                        c) Quanto tempo você tem se sentido tão deprimido que nada pode anima-lo?
                    </td>
                    <td> <input type="radio" name="question9c" value="1">1</td>
                    <td> <input type="radio" name="question9c" value="2">2</td>
                    <td> <input type="radio" name="question9c" value="3">3</td>
                    <td> <input type="radio" name="question9c" value="4">4</td>
                    <td> <input type="radio" name="question9c" value="5">5</td>
                    <td> <input type="radio" name="question9c" value="6">6</td>
                </tr>
                <tr align="center">
                    <td align="justify">
                        d) Quanto tempo você tem se sentido calmo ou tranqüilo?
                    </td>
                    <td><input type="radio" name="question9d" value="1">1</td>
                    <td><input type="radio" name="question9d" value="2">2</td>
                    <td><input type="radio" name="question9d" value="3">3</td>
                    <td><input type="radio" name="question9d" value="4">4</td>
                    <td><input type="radio" name="question9d" value="5">5</td>
                    <td><input type="radio" name="question9d" value="6">6</td>
                </tr>
                <tr align="center">
                    <td align="justify">
                        e) Quanto tempo você tem se sentido com muita energia?
                    </td>
                    <td><input type="radio" name="question9e" value="1">1</td>
                    <td><input type="radio" name="question9e" value="2">2</td>
                    <td><input type="radio" name="question9e" value="3">3</td>
                    <td><input type="radio" name="question9e" value="4">4</td>
                    <td><input type="radio" name="question9e" value="5">5</td>
                    <td><input type="radio" name="question9e" value="6">6</td>
                </tr>
                <tr align="center">
                    <td align="justify">
                        f) Quanto tempo você tem se sentido desanimado ou abatido?
                    </td>
                    <td><input type="radio" name="question9f" value="1" style="color:#333;">1</td>
                    <td><input type="radio" name="question9f" value="2">2</td>
                    <td><input type="radio" name="question9f" value="3">3</td>
                    <td><input type="radio" name="question9f" value="4">4</td>
                    <td><input type="radio" name="question9f" value="5">5</td>
                    <td><input type="radio" name="question9f" value="6">6</td>
                </tr>
                <tr align="center">
                    <td align="justify">
                        g) Quanto tempo você tem se sentido esgotado?
                    </td>
                    <td><input type="radio" name="question9g" value="1">1</td>
                    <td><input type="radio" name="question9g" value="2">2</td>
                    <td><input type="radio" name="question9g" value="3">3</td>
                    <td><input type="radio" name="question9g" value="4">4</td>
                    <td><input type="radio" name="question9g" value="5">5</td>
                    <td><input type="radio" name="question9g" value="6">6</td>
                </tr>
                <tr align="center">
                    <td align="justify">
                        h) Quanto tempo você tem se sentido uma pessoa feliz?
                    </td>
                    <td><input type="radio" name="question9h" value="1">1</td>
                    <td><input type="radio" name="question9h" value="2">2</td>
                    <td><input type="radio" name="question9h" value="3">3</td>
                    <td><input type="radio" name="question9h" value="4">4</td>
                    <td><input type="radio" name="question9h" value="5">5</td>
                    <td><input type="radio" name="question9h" value="6">6</td>
                </tr>
                <tr align="center">
                    <td align="justify">
                        i) Quanto tempo você tem se sentido cansado?
                    </td>
                    <td><input type="radio" name="question9i" value="1">1</td>
                    <td><input type="radio" name="question9i" value="2">2</td>
                    <td><input type="radio" name="question9i" value="3">3</td>
                    <td><input type="radio" name="question9i" value="4">4</td>
                    <td><input type="radio" name="question9i" value="5">5</td>
                    <td><input type="radio" name="question9i" value="6">6</td>
                </tr>
            </tbody>
        </table>
        &nbsp;
        <div class="form-label">
            <strong><label>10- Durante as últimas 4 semanas, quanto de seu tempo a sua saúde física ou problemas emocionais interferiram com as suas atividades sociais (como visitar amigos, parentes, etc)?</label></strong>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th height="30">Todo Tempo</th>
                    <th height="30">A maior parte do tempo</th>
                    <th height="30">Alguma parte do tempo</th>
                    <th height="30">Uma pequena parte do tempo</th>
                    <th height="30">Nenhuma parte do tempo</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td height="30"><input type="radio" name="question10" value="1">1</td>
                    <td height="30"><input type="radio" name="question10" value="2">2</td>
                    <td height="30"><input type="radio" name="question10" value="3">3</td>
                    <td height="30"><input type="radio" name="question10" value="4">4</td>
                    <td height="30"><input type="radio" name="question10" value="5">5</td>
                </tr>
            </tbody>
        </table>
        &nbsp;
        <div class="form-label">
            <label align="left"><strong>11- O quanto verdadeiro ou falso é cada uma das afirmações para você? </strong></label>
        </div>
        &nbsp;
        <table class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th height="30">&nbsp;</th>
                    <th height="30">Definitvamente Verdadeiro</th>
                    <th height="30">A maioria das vezes verdadeiro</th>
                    <th height="30">Não sei</th>
                    <th height="30">A maioria das vezes falso</th>
                    <th height="30">Definitivamente Falso</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td align="justify" height="30">
                        a) Eu costumo obedecer um pouco mais facilmente que as outras pessoas
                    </td>
                    <td height="30"><input type="radio" name="question11a" value="1">1</td>
                    <td height="30"><input type="radio" name="question11a" value="2">2</td>
                    <td height="30"><input type="radio" name="question11a" value="3">3</td>
                    <td height="30"><input type="radio" name="question11a" value="4">4</td>
                    <td height="30"><input type="radio" name="question11a" value="5">5</td>
                </tr>
                <tr align="center">
                    <td align="justify" height="30">
                        b) Eu sou tão saudável quanto qualquer pessoa que eu conheço
                    </td>
                    <td height="30"><input type="radio" name="question11b" value="1">1</td>
                    <td height="30"><input type="radio" name="question11b" value="2">2</td>
                    <td height="30"><input type="radio" name="question11b" value="3">3</td>
                    <td height="30"><input type="radio" name="question11b" value="4">4</td>
                    <td height="30"><input type="radio" name="question11b" value="5">5</td>
                </tr>
                <tr align="center">
                    <td align="justify" height="30">
                        c) Eu acho que a minha saúde vai piorar
                    </td>
                    <td height="30"><input type="radio" name="question11c" value="1">1</td>
                    <td height="30"><input type="radio" name="question11c" value="2">2</td>
                    <td height="30"><input type="radio" name="question11c" value="3">3</td>
                    <td height="30"><input type="radio" name="question11c" value="4">4</td>
                    <td height="30"><input type="radio" name="question11c" value="5">5</td>
                </tr>
                <tr align="center">
                    <td align="justify" height="30">
                        d) Minha saúde é excelente
                    </td>
                    <td height="30"><input type="radio" name="question11d" value="1">1</td>
                    <td height="30"><input type="radio" name="question11d" value="2">2</td>
                    <td height="30"><input type="radio" name="question11d" value="3">3</td>
                    <td height="30"><input type="radio" name="question11d" value="4">4</td>
                    <td height="30"><input type="radio" name="question11d" value="5">5</td>
                </tr>
            </tbody>
        </table>
        <div>
            <input type="submit" class="btn btn-secondary btn-sm" value="Concluido" />
        </div>
        </div>
    </form>
</body>
</html>

