@{
    ViewData["Title"] = "Teste";
}

<h1>Teste</h1>
<hr />
 <!doctype html>
<html>

<head>
    <!-- Metadados -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/Funcionario/Teste.css"/>

    <!-- Título da página (aparece na aba) -->
    <title>Questionário</title>
</head>

<body>
    <ul id="menu-horizontal">
        <li>
            
            <a href="Home">
                <img src="https://growiz.com.br/wp-content/uploads/2020/08/kisspng-c-programming-language-logo-microsoft-visual-stud-atlas-portfolio-5b899192d7c600.1628571115357423548838.png" alt="Logo" height="80" width="100">
                </a>
            <a href="#">
                 <strong>Sobre</strong></a>
            <a href="#">
                 <strong>Quem Somos</strong></a>
            <a href="#">
                <strong>Contato</strong></a>
            <a href="#"#>
                <strong>Entrar</strong></a>
        </li>

       

        <!-- Cabeçalho com título e subtítulo (ambos com css de id "titulo") -->
        <div>
            <h1 id="titulo">Questionário SF-36</h1>
            <p id="subtitulo">Questionário de Saúde e Qualidade de vida</p>
            <br>
        </div>

        <!-- Início do formulário -->
        <form>
                <div class="form-label">
                    <label align="left"><strong>1- Em geral você diria que sua saúde é: </strong></label>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">Excelente</th>
                            <th height="30">Muito Boa</th>
                            <th height="30">Boa</th>
                            <th height="30">Ruim</th>
                            <th height="30">Muito Ruim</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td height="30"><input type="radio" name="select1" value="1">1</td>
                            <td height="30"><input type="radio" name="select1" value="2">2</td>
                            <td height="30"><input type="radio" name="select1" value="3">3</td>
                            <td height="30"><input type="radio" name="select1" value="4">4</td>
                            <td height="30"><input type="radio" name="select1" value="5">5</td>
                        </tr>
                    </tbody>
                </table>


                &nbsp;
                <div class="form-label">
                    <label align="left"><strong>2- Comparada há um ano atrás, como você classificaria sua saúde em geral, agora? </strong></label>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">Muito Melhor</th>
                            <th height="30">Um Pouco Melhor</th>
                            <th height="30">Quase a Mesma</th>
                            <th height="30">Um Pouco Pior</th>
                            <th height="30">Muito Pior</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td height="30"><input type="radio" name="select2" value="1">1</td>
                            <td height="30"><input type="radio" name="select2" value="2">2</td>
                            <td height="30"><input type="radio" name="select2" value="3">3</td>
                            <td height="30"><input type="radio" name="select2" value="4">4</td>
                            <td height="30"><input type="radio" name="select2" value="5">5</td>
                        </tr>
                    </tbody>
                </table>
                &nbsp;
                <div class="form-label">
                 <label align="left"> <strong>3- Os seguintes itens são sobre atividade que você poderia fazer atualmente durante um dia comum. Devido à 
                    sua saúde, você teria dificuldade para fazer estas atividades?</label></strong>
                </div>
                &nbsp;
                <div class="table">
                    <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                        <thead>
                            <tr align="center">
                                <th height="30">Atividades</th>
                                <th height="30">Sim, dificulta muito</th>
                                <th height="30">Sim, dificulta um pouco</th>
                                <th height="30">Não, não dificulta de modo algum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <td align="justify" height="30">
                                    a) Atividades Rigorosas, que exigem muito esforço correr,levantar objetos pesados, participar em esportes árduos.
                                </td>
                                <td height="30"><input type="radio" name="selecta3" value="1">1</td>
                                <td height="30"><input type="radio" name="selecta3" value="2">2</td>
                                <td height="30"><input type="radio" name="selecta3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    b) Atividades moderadas, tais como mover uma mesa, passar aspirador de pó, jogar bola varrer a casa.
                                </td>
                                <td height="30"><input type="radio" name="selectb3" value="1">1</td>
                                <td height="30"><input type="radio" name="selectb3" value="2">2</td>
                                <td height="30"><input type="radio" name="selectb3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    c) Levantar ou carregar mantimentos
                                </td>
                                <td height="30"><input type="radio" name="selectc3" value="1">1</td>
                                <td height="30"><input type="radio" name="selectc3" value="2">2</td>
                                <td height="30"><input type="radio" name="selectc3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    d) Subir vários lances de escada
                                </td>
                                <td height="30"><input type="radio" name="selectd3" value="1">1</td>
                                <td height="30"><input type="radio" name="selectd3" value="2">2</td>
                                <td height="30"><input type="radio" name="selectd3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    e) Subir um lance de escada
                                </td>
                                <td height="30"><input type="radio" name="selecte3" value="1">1</td>
                                <td height="30"><input type="radio" name="selecte3" value="2">2</td>
                                <td height="30"><input type="radio" name="selecte3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    f) Curvar-se, ajoelhar-se ou dobrarse
                                </td>
                                <td height="30"><input type="radio" name="selectf3" value="1">1</td>
                                <td height="30"><input type="radio" name="selectf3" value="2">2</td>
                                <td height="30"><input type="radio" name="selectf3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    g) Andar mais de 1 quilômetro
                                </td>
                                <td height="30"><input type="radio" name="selectg3" value="1">1</td>
                                <td height="30"><input type="radio" name="selectg3" value="2">2</td>
                                <td height="30"><input type="radio" name="selectg3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    h) Andar vários quarteirões
                                </td>
                                <td height="30"><input type="radio" name="selecth3" value="1">1</td>
                                <td height="30"><input type="radio" name="selecth3" value="2">2</td>
                                <td height="30"><input type="radio" name="selecth3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    i) Andar um quarteirão
                                </td>
                                <td height="30"><input type="radio" name="selecti3" value="1">1</td>
                                <td height="30"><input type="radio" name="selecti3" value="2">2</td>
                                <td height="30"><input type="radio" name="selecti3" value="3">3</td>
                            </tr>
                            <tr align="center">
                                <td align="justify" height="30">
                                    j) Tomar banho ou vestir-se
                                </td>
                                <td height="30"><input type="radio" name="selectj3" value="1">1</td>
                                <td height="30"><input type="radio" name="selectj3" value="2">2</td>
                                <td height="30"><input type="radio" name="selectj3" value="3">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                &nbsp;
                <div class="form-label">
                        <strong>
                            <label align="left">4- Durante as últimas 4 semanas, você teve algum dos seguintes problemas com seu trabalho ou com alguma atividade regular, como conseqüência de sua saúde física?</label>
                            </strong>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">&nbsp;</th>
                            <th height="30">Sim</th>
                            <th height="30">Não</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td align="justify" height="30">
                                a) Você diminui a quantidade de tempo que se dedicava ao seu trabalho ou a outras atividades?
                            </td>
                            <td height="30"><input type="radio" name="selecta4" value="1">1</td>
                            <td height="30"><input type="radio" name="selecta4" value="2">2</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">b) Realizou menos tarefas do que você gostaria?</td>
                            <td height="30"><input type="radio" name="selectb4" value="1">1</td>
                            <td height="30"><input type="radio" name="selectb4" value="2">2</td>

                        </tr>
                        <tr align="center">
                            <td align="justify" height="30"> c) Esteve limitado no seu tipo de trabalho ou a outras atividades.</td>
                            <td height="30"><input type="radio" name="selectc4" value="1">1</td>
                            <td height="30"><input type="radio" name="selectc4" value="2">2</td>

                        </tr>
                        <tr align="center">
                            <td align="justify" height="30"> d) Teve dificuldade de fazer seu trabalho ou outras atividades (p.ex. necessitou de um esforço extra).</td>
                            <td height="30" width=><input type="radio" name="selectd4" value="1">1</td>
                            <td height="30" width=><input type="radio" name="selectd4" value="2">2</td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-label">
                        <strong> 
                            <label>5- Durante as últimas 4 semanas, você teve algum dos seguintes problemas com seu trabalho ou outra atividade regular diária, como conseqüência de algum problema emocional (como se sentir deprimido ou ansioso)?
                            </label>
                            </strong>
                </div>
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">&nbsp;</th>
                            <th height="30">Sim</th>
                            <th height="30">Não</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td align="justify" height="30">
                                a) Você diminui a quantidade de tempo que se dedicava ao seu trabalho ou a outras atividades?
                            </td>
                            <td height="30"><input type="radio" name="selecta5" value="1">1</td>
                            <td height="30"><input type="radio" name="selecta5" value="2">2</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">b) Realizou menos tarefas do que você gostaria? </td>
                            <td height="30"><input type="radio" name="selectb4" value="1">1</td>
                            <td height="30"><input type="radio" name="selectb4" value="2">2</td>

                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                c) Não realizou ou fez qualquer das atividades com tanto cuidado como geralmente faz
                            </td>
                            <td height="30"><input type="radio" name="selectc4" value="1">1</td>
                            <td height="30"><input type="radio" name="selectc4" value="2">2</td>

                        </tr>
                    </tbody>
                </table>
                &nbsp;
                <div class="form-label">
                <strong> <label>6- Durante as últimas 4 semanas, de que maneira sua saúde física ou problemas emocionais interferiram nas suas atividades sociais normais, em relação à família, amigos ou em grupo?</label></strong>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">De forma nenhuma</th>
                            <th height="30">Ligeiramente</th>
                            <th height="30">Moderadamente</th>
                            <th height="30">Bastante</th>
                            <th height="30">Extremamente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td height="30"><input type="radio" name="select6" value="1">1</td>
                            <td height="30"><input type="radio" name="select6" value="2">2</td>
                            <td height="30"><input type="radio" name="select6" value="3">3</td>
                            <td height="30"><input type="radio" name="select6" value="4">4</td>
                            <td height="30"><input type="radio" name="select6" value="5">5</td>
                        </tr>
                    </tbody>
                </table>
                &nbsp;
                <div class="form-label">
                    <label align="left"><strong>7- Quanta dor no corpo você teve durante as últimas 4 semanas?</strong></label>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">Nenhuma</th>
                            <th height="30">Muito leve</th>
                            <th height="30">Leve</th>
                            <th height="30">Moderada</th>
                            <th height="30">Grave</th>
                            <th height="30">Muito grave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td height="30"><input type="radio" name="select7" value="1">1</td>
                            <td height="30"><input type="radio" name="select7" value="2">2</td>
                            <td height="30"><input type="radio" name="select7" value="3">3</td>
                            <td height="30"><input type="radio" name="select7" value="4">4</td>
                            <td height="30"><input type="radio" name="select7" value="5">5</td>
                            <td height="30"><input type="radio" name="select7" value="6">6</td>
                        </tr>
                    </tbody>
                </table>
                &nbsp;
                <div class="form-label">
                <strong> <label>8- Durante as últimas 4 semanas, quanto a dor interferiu com seu trabalho normal (incluindo o trabalho dentro de casa)?</label></strong>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">De maneira alguma</th>
                            <th height="30">Um pouco</th>
                            <th height="30">Moderadamente</th>
                            <th height="30">Bastante</th>
                            <th height="30">Extremamente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td height="30"><input type="radio" name="select6" value="1">1</td>
                            <td height="30"><input type="radio" name="select6" value="2">2</td>
                            <td height="30"><input type="radio" name="select6" value="3">3</td>
                            <td height="30"><input type="radio" name="select6" value="4">4</td>
                            <td height="30"><input type="radio" name="select6" value="5">5</td>
                        </tr>
                    </tbody>
                </table>
                &nbsp;
                <div class="form-label">
                    <strong><label>9- Estas questões são sobre como você se sente e como tudo tem acontecido com você durante as últimas 4 semanas. Para cada questão, por favor dê uma resposta que mais se aproxime de maneira como você se sente, em relação às últimas semanas.</label></strong>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">&nbsp;</th>
                            <th height="30">Todo Tempo</th>
                            <th height="30">A maior parte do Tempo</th>
                            <th height="30">Uma boa parte do tempo</th>
                            <th height="30">Alguma parte do tempo</th>
                            <th height="30">Uma pequena parte do tempo</th>
                            <th height="30">Nunca</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td align="justify" height="30">
                                a) Quanto tempo você tem se sentindo cheio de vigor, de vontade, de força?
                            </td>
                            <td height="30"><input type="radio" name="select9a" value="1">1</td>
                            <td height="30"><input type="radio" name="select9a" value="2">2</td>
                            <td height="30"><input type="radio" name="select9a" value="3">3</td>
                            <td height="30"><input type="radio" name="select9a" value="4">4</td>
                            <td height="30"><input type="radio" name="select9a" value="5">5</td>
                            <td height="30"><input type="radio" name="select9a" value="6">6</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                b) Quanto tempo você tem se sentido uma pessoa muito nervosa?
                            </td>
                            <td height="30"><input type="radio" name="select9b" value="1">1</td>
                            <td height="30"><input type="radio" name="select9b" value="2">2</td>
                            <td height="30"><input type="radio" name="select9b" value="3">3</td>
                            <td height="30"><input type="radio" name="select9b" value="4">4</td>
                            <td height="30"><input type="radio" name="select9b" value="5">5</td>
                            <td height="30"><input type="radio" name="select9b" value="6">6</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                c) Quanto tempo você tem se sentido tão deprimido que nada pode anima-lo?
                            </td>
                            <td height="30"> <input type="radio" name="select9c" value="1">1</td>
                            <td height="30"> <input type="radio" name="select9c" value="2">2</td>
                            <td height="30"> <input type="radio" name="select9c" value="3">3</td>
                            <td height="30"> <input type="radio" name="select9c" value="4">4</td>
                            <td height="30"> <input type="radio" name="select9c" value="5">5</td>
                            <td height="30"> <input type="radio" name="select9c" value="6">6</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                d) Quanto tempo você tem se sentido calmo ou tranqüilo?
                            </td>
                            <td height="30"><input type="radio" name="select9d" value="1">1</td>
                            <td height="30"><input type="radio" name="select9d" value="2">2</td>
                            <td height="30"><input type="radio" name="select9d" value="3">3</td>
                            <td height="30"><input type="radio" name="select9d" value="4">4</td>
                            <td height="30"><input type="radio" name="select9d" value="5">5</td>
                            <td height="30"><input type="radio" name="select9d" value="6">6</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                e) Quanto tempo você tem se sentido com muita energia?
                            </td>
                            <td height="30"><input type="radio" name="select9e" value="1">1</td>
                            <td height="30"><input type="radio" name="select9e" value="2">2</td>
                            <td height="30"><input type="radio" name="select9e" value="3">3</td>
                            <td height="30"><input type="radio" name="select9e" value="4">4</td>
                            <td height="30"><input type="radio" name="select9e" value="5">5</td>
                            <td height="30"><input type="radio" name="select9e" value="6">6</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                f) Quanto tempo você tem se sentido desanimado ou abatido?
                            </td>
                            <td height="30"><input type="radio" name="select9f" value="1">1</td>
                            <td height="30"><input type="radio" name="select9f" value="2">2</td>
                            <td height="30"><input type="radio" name="select9f" value="3">3</td>
                            <td height="30"><input type="radio" name="select9f" value="4">4</td>
                            <td height="30"><input type="radio" name="select9f" value="5">5</td>
                            <td height="30"><input type="radio" name="select9f" value="6">6</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                g) Quanto tempo você tem se sentido esgotado?
                            </td>
                            <td height="30"><input type="radio" name="select9g" value="1">1</td>
                            <td height="30"><input type="radio" name="select9g" value="2">2</td>
                            <td height="30"><input type="radio" name="select9g" value="3">3</td>
                            <td height="30"><input type="radio" name="select9g" value="4">4</td>
                            <td height="30"><input type="radio" name="select9g" value="5">5</td>
                            <td height="30"><input type="radio" name="select9g" value="6">6</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                h) Quanto tempo você tem se sentido uma pessoa feliz?
                            </td>
                            <td height="30"><input type="radio" name="select9h" value="1">1</td>
                            <td height="30"><input type="radio" name="select9h" value="2">2</td>
                            <td height="30"><input type="radio" name="select9h" value="3">3</td>
                            <td height="30"><input type="radio" name="select9h" value="4">4</td>
                            <td height="30"><input type="radio" name="select9h" value="5">5</td>
                            <td height="30"><input type="radio" name="select9h" value="6">6</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                i) Quanto tempo você tem se sentido cansado?
                            </td>
                            <td height="30"><input type="radio" name="select9i" value="1">1</td>
                            <td height="30"><input type="radio" name="select9i" value="2">2</td>
                            <td height="30"><input type="radio" name="select9i" value="3">3</td>
                            <td height="30"><input type="radio" name="select9i" value="4">4</td>
                            <td height="30"><input type="radio" name="select9i" value="5">5</td>
                            <td height="30"><input type="radio" name="select9i" value="6">6</td>
                        </tr>
                    </tbody>
                </table>
                &nbsp;
                <div class="form-label">
                     <strong><label>10- Durante as últimas 4 semanas, quanto de seu tempo a sua saúde física ou problemas emocionais interferiram com as suas atividades sociais (como visitar amigos, parentes, etc)?</label></strong>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">Todo Tempo</th>
                            <th height="30">A maior parte do tempo</th>
                            <th height="30">Alguma parte do tempo</th>
                            <th height="30">Uma pequena parte do tempo</th>
                            <th height="30">Nenhuma parte do tempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td height="30"><input type="radio" name="select10" value="1">1</td>
                            <td height="30"><input type="radio" name="select10" value="2">2</td>
                            <td height="30"><input type="radio" name="select10" value="3">3</td>
                            <td height="30"><input type="radio" name="select10" value="4">4</td>
                            <td height="30"><input type="radio" name="select10" value="5">5</td>
                        </tr>
                    </tbody>
                </table>
                &nbsp;
                <div class="form-label">
                    <label align="left"><strong>11- O quanto verdadeiro ou falso é cada uma das afirmações para você? </strong></label>
                </div>
                &nbsp;
                <table class="styled-table" style="table-layout:fixed; width: 1550px" border="2">
                    <thead>
                        <tr align="center">
                            <th height="30">&nbsp;</th>
                            <th height="30">Definitvamente Verdadeiro</th>
                            <th height="30">A maioria das vezes verdadeiro</th>
                            <th height="30">Não sei</th>
                            <th height="30">A maioria das vezes falso</th>
                            <th height="30">Definitivamente Falso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td align="justify" height="30">
                                a) Eu costumo obedecer um pouco mais facilmente que as outras pessoas
                            </td>
                            <td height="30"><input type="radio" name="select11a" value="2">1</td>
                            <td height="30"><input type="radio" name="select11a" value="3">2</td>
                            <td height="30"><input type="radio" name="select11a" value="4">3</td>
                            <td height="30"><input type="radio" name="select11a" value="5">4</td>
                            <td height="30"><input type="radio" name="select11a" value="6">5</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                b) Eu sou tão saudável quanto qualquer pessoa que eu conheço
                            </td>
                            <td height="30"><input type="radio" name="select11b" value="2">1</td>
                            <td height="30"><input type="radio" name="select11b" value="3">2</td>
                            <td height="30"><input type="radio" name="select11b" value="4">3</td>
                            <td height="30"><input type="radio" name="select11b" value="5">4</td>
                            <td height="30"><input type="radio" name="select11b" value="6">5</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                c) Eu acho que a minha saúde vai piorar
                            </td>
                            <td height="30"><input type="radio" name="select11c" value="2">1</td>
                            <td height="30"><input type="radio" name="select11c" value="3">2</td>
                            <td height="30"><input type="radio" name="select11c" value="4">3</td>
                            <td height="30"><input type="radio" name="select11c" value="5">4</td>
                            <td height="30"><input type="radio" name="select11c" value="6">5</td>
                        </tr>
                        <tr align="center">
                            <td align="justify" height="30">
                                d) Minha saúde é excelente
                            </td>
                            <td height="30"><input type="radio" name="select11d" value="2">1</td>
                            <td height="30"><input type="radio" name="select11d" value="3">2</td>
                            <td height="30"><input type="radio" name="select11d" value="4">3</td>
                            <td height="30"><input type="radio" name="select11d" value="5">4</td>
                            <td height="30"><input type="radio" name="select11d" value="6">5</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                <button class="botao" type="submit" onsubmit="">Concluído</button> 
                </div>
            </form>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
