@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}


nav {
    background: #4070f4;
    padding: 13px 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
}

footer {
    bottom: 0;
}

.Membros {
    margin-top: 150px;
    background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
}

.container {
    margin: 64px;
    background: #ECF4FF;
    color: #1C1C1C;
    border-radius: 20px;
    padding: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.perfil {
    display: flex;
    padding: 15px;
}

.perfil-foto {
    padding: 3px;
    max-width: 160px;
    border-radius: 460px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.titulo {
    margin-left: 16px;
}

    .titulo h1 {
        font-weight: 700;
        font-size: 36px;
    }

    .titulo h3 {
        font-weight: normal;
        font-size: 24px;
    }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #4070f4;
    }