html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
button1 {
    margin-top: 12px;
    color: #ffffff;
    background: #212226;
    padding: 4px 8px;
    border-radius: 10px;
}