@model VisualLayer.Models.Cargo.CargoInsertViewModel

@{
    ViewData["Title"] = "Criar";
}
<head>
    <title>
        Cadastro Cargo
    </title>
</head>
<h1>Criar</h1>

<h4>CargoInsertViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cargo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Funcao" class="control-label"></label>
                <input asp-for="Funcao" class="form-control" />
                <span asp-validation-for="Funcao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelPermissao" class="control-label"></label>
                <input asp-for="NivelPermissao" class="form-control" />
                <span asp-validation-for="NivelPermissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Errors != null)
        {
            <div class="form-group">
                <p class="bg-warning">
                    @ViewBag.Errors
                </p>
            </div>
        }
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Adm" asp-action="Cadastrar">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
